<a href="https://colab.research.google.com/github/diegohugo570/backup-python/blob/main/1_Fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# isto é comentário
# isto é outro comentário
print ("Olá Mundo") # isto é um comentário

Olá Mundo

In [ ]:
'''este é um comentário
o comentário continua aqui
aqui ainda continua
e aqui termina '''

'este é um comentário\no comentário continua aqui\naqui ainda continua \ne aqui termina '

In [ ]:
print ("Olá Mundo")
print (10)
print (20.5)

Olá Mundo
10
20.5

In [ ]:
print ("Maça", 20, 30.45)

Maça 20 30.45

In [ ]:
print("Maça", "Pera", "Uva", sep= ' - ')

Maça - Pera - Uva

In [ ]:
print ("Maça","Pera", end = ' Fim', sep = ' ')

Maça Pera Fim

In [ ]:
print ("Este é um texto longo, \n eu quero quebrar a linha")

Este é um texto longo,
 eu quero quebrar a linha

In [ ]:
print("Maça", "Pera", sep= '\n')

Maça
Pera

In [ ]:
print ("A pontuação total de %s foi %s pontos" % ("Fernando","10"))

A pontuação total de Fernando foi 10 pontos

In [ ]:
print("A pontuação total de {} foi {} pontos".format("Fernando","10"))

A pontuação total de Fernando foi 10 pontos

In [ ]:
print ("A pontuação total de" + " Fernando" + " foi" + " 10 " + "pontos")

A pontuação total de Fernando foi 10 pontos

In [ ]:
# 1- Realize o print do seu nome completo, sua idade e sua
# altura utilizando um print para cada valor

In [ ]:
print ("Diego")
print ("32")
print("1,80")

In [ ]:
# 2- Realize o print do seu nome completo, sua idade e sua altura
# utilizando apenas um print para todos os valores.

In [ ]:
print("Nome {}, Idade {}, Altura{}".format("Diego", "32", "1,80"))

Nome Diego, Idade 32, Altura1,80

In [ ]:
# 3- Realize o print de 3 números de sua escolha em um mesmo print,
# mas separados pelo caractere '-'.

In [ ]:
print(1, 2, 3, sep="-")

1-2-3

# Variáveis

In [ ]:
_numero = 1
Numero = 2
numero = 3
numero123 = 4
print(_numero, Numero, numero, numero123)

1 2 3 4

In [ ]:
numero = 10
print(numero)
numero = 20
print(numero)

10
20

In [ ]:
texto = "Olá Mundo!"
print(texto)

Olá Mundo!

# Tipos Primitivos

In [ ]:
variavel= None
print(variavel)

None

In [ ]:
inteiro = 10
print(inteiro)

10

In [ ]:
decimal = 1.53
print(decimal)

1.53

In [ ]:
texto = "Olá, isto é um texto"
print(texto)

Olá, isto é um texto

In [ ]:
var = True
print(var)
var = False
print(var)

True
False

In [ ]:
var1 = 10
var2 = var1
print(var2)

10

In [ ]:
var = None
print(var)
var = 1
print(var)
var = "Texto"
print(var)

None
1
Texto

In [ ]:
saldoBancario = 100
SaldoBancario = 100
saldo_bancario = 100

In [ ]:
#1 - Crie uma variável de cada tipo e ponha algum valor escolhido.
#Em seguida, printe todos esses valores.

In [ ]:
inteiro = 750
decimal = 3.1415
text = "Maça"
booleano = True
print(inteiro)
print(decimal)
print(text)
print(booleano)

750
3.1415
Maça
True

In [ ]:
#2 - Crie variáveis para guardar seu nome, CPF e uma que indique
# se você está casado, em seguida printe esses valores separadamente,
# mas não esqueça de printar junto o que eles significam.

In [ ]:
nome = "Diego Hugo"
CPF = "123.456.789-10"
casado = True
print("Nome: ", nome)
print("CPF ",CPF)
print("casado: ", casado)

Nome:  Diego Hugo
CPF  123.456.789-10
casado:  True

#Formatação

In [ ]:
# %s texto
# %d inteiro
# %f real

In [ ]:
nome = "Carolina"
texto_formatado = "O nome dela é %s " % (nome)
print(texto_formatado)

O nome dela é Carolina

In [ ]:
nome = "Roddrigo"
idade = 23
altura = 1.73
texto = "Meu nome é %s. tenho %d anos e tenho %f metros de altura" % (nome, idade, altura)
print(texto)

Meu nome é Roddrigo. tenho 23 anos e tenho 1.730000 metros de altura

In [ ]:
numero_gigante = 1.123456789
print("Número gigante formatado: %.2f" % (numero_gigante))

Número gigante formatado: 1.12

In [ ]:
valor = True
print("O valor é %s" %(valor))
print("O valor é %d" %(valor))

O valor é True
O valor é 1

In [ ]:
decimal = 23.4566
print("A parte inteira é %d" % (decimal))

A parte inteira é 23

In [ ]:
texto = "Olá, assim que se quebra uma linha, \nentendeu como quebra a linha\nfim?"
print(texto)

Olá, assim que se quebra uma linha,
entendeu como quebra a linha
fim?

In [ ]:
texto = 'Deixa a \'palavra\' entre aspas'
print(texto)

Deixa a 'palavra' entre aspas

In [ ]:
# 1 - Escreva e formate a data em que você nasceu no formato dia\mês\ano.
# Não esqueça de criar 3 variáveis para guardar o dia, mês e ano.

In [ ]:
dia = 4
mes = 12
ano = 1980
data = "Eu nasci em %d/%d/%d" % (dia, mes, ano)
print(data)

Eu nasci em 4/12/1980

In [ ]:
# 2 - Escreva e formate a hora e minuto atual.
# Não esqueça de criar duas variáveis para guardar a hora e minuto.

In [ ]:
horas = 21
minutos = 53
print("Agora são %d horas e %d minutos" % (horas, minutos))

Agora são 21 horas e 53 minutos

In [ ]:
# 3 - Escreva um programa que contêm o número PI, que deve ter o valor exato.
# de 3.14159265359. Agora formate esse número para ter apenas cinco casas decimais.

In [ ]:
pi = 3.14159265359
pi_formatado = 'O PI é normalmente exibido com %.5f' % (pi)
print(pi_formatado)

O PI é normalmente exibido com 3.14159

#Operadores Aritméticos

In [ ]:
print(10 + 20)

30

In [ ]:
numero = 10 + 10.5
print(numero)

20.5

In [ ]:
outro_numero = 30 + numero
print(outro_numero)

50.5

In [ ]:
numero = 20-10
print(numero)

10

In [ ]:
numero = 10 * 2
print(numero)

20

In [ ]:
numero = 10 / 3
print(numero)

3.3333333333333335

In [ ]:
numero = 10 //3
print(numero)

3

In [ ]:
numero = 2 ** 4
print(numero)

16

In [ ]:
numero = 4 % 3
print(numero)

1

In [ ]:
nume1 = 10 * 2 + 1
print(nume1)

21

In [ ]:
nume1 = 10 * (2 + 1)
print(nume1)

30

In [ ]:
nume1 = 3 * 3 - 9
print(nume1)

0

In [ ]:
nume1 = 3 * (3 - 9)
print(nume1)

-18

In [ ]:
nume1 = 20
nume2 = 40
nume3 = 60
resultado = nume1 + nume2 + nume3
print(resultado)

120

In [ ]:
resultado = resultado * 2
print(resultado)

240

In [ ]:
a = 1
a = a + 1
print(a)

2

In [ ]:
# 1 - Crie um programa que possui duas variáveis, uma recebe o ano.
# em que estamos e a outra o ano em que você nasceu.
# Em seguida subtraia ambas para receber uma estimativa de quantos anos você tem.
# Mostre esse valor na saída do programa.

In [ ]:
ano_atual = 2022
ano_nascimento = 1998
estimativa_idade = ano_atual - ano_nascimento
print("Devo ter em torno de %d anos" % (estimativa_idade))

Devo ter em torno de 24 anos

In [ ]:
# 2 - Crie um programa que faz média aritmética entre três números.
# Estes números devem ser salvos em uma variável.
# Mostre esse valor na saída do programa.

In [ ]:
num1 = 10
num2 = 15
num3 = 6
media = (num1 + num2 + num3) / 3
print("A média é %f " % (media))

A média é 10.333333

In [ ]:
# 3 - Crie um programa que calcule o IMC (índice de massa corporal).
# O IMC é dado pelo peso em KG dividido pela altura em metros elevado ao quadrado.
# Salvar esses valores em uma variável. Mostre esse valor na saída do programa.

In [ ]:
peso = 80.5
altura = 1.72
imc = peso // altura ** 2
print('O IMC é', imc)

O IMC é 27.0

In [ ]:
# 4 (Desafio) - Você tem um determinado número de ovos de páscoa para dividir
# entre um determinado número de pessoas (duas variáveis iniciais).
# determine quantos ovos ficarão por pessoa e quantos ovos sobrarão
# pois não puderam ser dividido igualmente.
# Lembre o número de ovos por pessoa é um número inteiro

In [ ]:
ovos = 56
pessoas = 3
print("Tenho inicialmente %d ovos para %d pessoas " % (ovos, pessoas))
ovos_por_pessoas = ovos // pessoas
ovos_restantes = ovos % pessoas
print("Cada uma das %d pessoas terá %d ovo(s) " % (pessoas, ovos_por_pessoas))
print("Restou %d ovo(s) que não puderam ser divididos" % (ovos_restantes))

Tenho inicialmente 56 ovos para 3 pessoas
Cada uma das 3 pessoas terá 18 ovo(s)
Restou 2 ovo(s) que não puderam ser divididos

# Operadores Lógicos

In [ ]:
resultado1 = True and False
print(resultado1)

False

In [ ]:
resultado2 = True and True
print(resultado2)

True

In [ ]:
var1 = True
var2 = False
var3 = False
print(var1 and var2 and var3)

False

In [ ]:
clima_bom = True
estou_disposto = True
vou_ao_mercado = clima_bom and estou_disposto
print("Vou ao mercado? ", vou_ao_mercado)

Vou ao mercado?  True

In [ ]:
resultado = True or False
print(resultado)

True

In [ ]:
resultado = True or True
print(resultado)

True

In [ ]:
resultado = False or False
print(resultado)

False

In [ ]:
sei_programar = True
sei_investir = False
ganho_bom_salario = sei_programar or sei_investir
print("Terei um bom salário? ", ganho_bom_salario)

Terei um bom salário?  True

In [ ]:
resultado = False
print( not resultado)

True

In [ ]:
porta_aberta = False
tem_chave = False
print("Estou trancado? ", not porta_aberta and not tem_chave)

Estou trancado?  True

In [ ]:
# Prioridade
# NOT , AND, OR

In [ ]:
bool1 = True or False and True
print(bool1)

True

In [ ]:
bool2 = True or not False
print(bool2)

True

In [ ]:
bool3 = True and not (True or False)
print(bool3)

False

In [ ]:
# 1 - Crie um programa que diga "se você precisar ir ao mercado".
# Você precisa ir ao mercado se "faltar comida" ou "se for sábado".
# Mostre na saída do programa o valor lógico, indicando sim ou não.

In [ ]:
falta_comida = False
e_sabado = False
vou_ao_mercado = falta_comida or e_sabado
print("Preciso ir ao mercado? ", vou_ao_mercado)

Preciso ir ao mercado?  False

In [ ]:
# 2 - Crie um programa que responda "se você pode atravessar a rua"
# na faixa de pedestres. Você pode atravessar a rua se o "sinal estiver
# vermelho" e "se não houver nenhum carro vindo da direita" E "nem da esquerda".
# Altere as variáveis para verificar se o programa esta correto.
# Mostre na saída do programa o valor lógico.

In [ ]:
sinal_vermelho = True
carro_vindo_direita = False
carro_vindo_esquerda = False
pode_atravessar = sinal_vermelho and not carro_vindo_direita and not carro_vindo_esquerda
print("Posso atravessar? ", pode_atravessar)

Posso atravessar?  True

In [ ]:
# 3 - Agora faça a mesma coisa que o exercício anterior, mas desta vez você
# esta com pressa e para atravessar a rua basta que o sinal esteja vermelho
# "OU" que não venha carro da esquerda e direita. Altere as variáveis
# para verificar a resposta em comparação com ao exercício anterior.
# Mostre a saída do programa o valor lógico.

In [ ]:
sinal_vermelho = False
carro_vindo_direita = True
carro_vindo_esquerda = True
pode_atravessar = sinal_vermelho or not carro_vindo_direita and not carro_vindo_esquerda
print("Posso atravessar? ", pode_atravessar)

Posso atravessar?  False

# Casting

In [ ]:
texto = "olá"
numero = 2
decimal = 1.5
booleano = True
print(type(texto))
print(type(numero))
print(type(decimal))
print(type(booleano))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
texto1 = "2"
texto2 = "1.5"
numero1 = int(texto1)
numero2 = float(texto2)
print(type(texto1))
print(type(numero1))
print(type(numero2))
print(numero1 + numero2)

<class 'str'>
<class 'int'>
<class 'float'>
3.5

In [ ]:
num = 21.45646
inteira = int(num)
print("A parte inteira de %f é %d" % (num, inteira))

A parte inteira de 21.456460 é 21

In [ ]:
texto = "O número é "
numero = 10.3
numero_em_string = str(numero)
print(texto, numero_em_string)
print(type(numero_em_string))

O número é  10.3
<class 'str'>

In [ ]:
numero = 123
texto = str(numero)
numero_de_digitos = len(texto)
print("O número %s tem %d digitos " % (texto, numero_de_digitos))

O número 123 tem 3 digitos

In [ ]:
vazio = None
numero_um = 15
numero_zero = 0
texto = "Texto"
texto_vazio = ""
decimal_zero = 0.0
decimal = 3.5

print("Variável tem valor ", bool(vazio))

print("Número tem valor ", bool(numero_um))
print("Número tem valor ", bool(numero_zero))

print("String tem conteúdo ", bool(texto))
print("String tem conteúdo ", bool(texto_vazio))

print("Float tem valor ", bool(decimal_zero))
print("Float tem valor ", bool(decimal))

Variável tem valor  False
Número tem valor  True
Número tem valor  False
String tem conteúdo  True
String tem conteúdo  False
Float tem valor  False
Float tem valor  True

In [ ]:
# 1 - Crie um programa que possui uma variável do "Tipo String"
# contendo um número que indique quanto você tem no banco.
# Em seguida desconte mil deste valor e mostre na saída do programa.

In [ ]:
saldo_em_texto = "4500.45"
saldo = float(saldo_em_texto)
total = saldo - 1000
print("Tenho no banco R$ %.2f " % (total))

Tenho no banco R$ 3500.45

In [ ]:
# 2 - Crie um programa que indique que seu saldo bancáro está zerado
# (valor lógico). Declare uma variável para guardar seu saldo bancário.

In [ ]:
saldo = 2000.4
esta_zerado = not bool(saldo)
print("Saldo zerado: ", esta_zerado)

Saldo zerado:  False

In [ ]:
# 3 - Crie um programa que contenha sua altura, mas deve somente mostrar
# a parte inteira da sua altura na saída do programa,
# pois queremos uma estimativa.

In [ ]:
altura = 1.73
altura_inteira = int(altura)
print("Tenho pelo menos %i metros de altura " % (altura_inteira))

Tenho pelo menos 1 metros de altura

# Input

In [ ]:
valor_escrito = input()
print(type(valor_escrito))
print(valor_escrito)

20
<class 'str'>
20

In [ ]:
meu_nome = input()
print("Eu me chamo %s " % (meu_nome))

Diego
Eu me chamo Diego

In [ ]:
dia = input("Insira o dia: ")
mes = input("Insira o mês: ")
ano = input("Insira o ano: ")
print("A data inserida foi2 %s/%s/%s " % (dia, mes, ano))

Insira o dia: 2
Insira o mês: 12
Insira o ano: 2002
A data inserida foi2 2/12/2002

In [ ]:
entrada_usuario = input("Digite 1 para verdadeiro e 0 para falso: ")
valor_inteiro = int(entrada_usuario)
valor_logico = bool(valor_inteiro)
print("Você escolheu %s " % (valor_logico))
print("ou ainda, você escolheu: %i " % (valor_inteiro))

Digite 1 para verdadeiro e 0 para falso: 0
Você escolheu False
ou ainda, você escolheu: 0

In [ ]:
# 1 - Crie um programa que leia por input dois números e realize
# a divisão entre ambos. Formate o print para mostrar o cálculo completo.

In [ ]:
num1 = input("Insira o primeiro número: ")
num2 = input("Insira o segundo número: ")
divisao = float(num1) / float(num2)
print("%s foi dividido por %s é %.2f" % (num1, num2, divisao) )

Insira o primeiro número: 10
Insira o segundo número: 3
10 foi dividido por 3 é 3.33

In [ ]:
# 2 - Crie um programa que mostre o dia, mês, ano, hora,
# minuto e segundos inseridos pelo usuário. Formate o valor.

In [ ]:
dia = input("Insira o dia: ")
mes = input("Insira o mês: ")
ano = input("Insira o ano: ")
hora = input("Insira a hora: ")
minuto = input("Insira o minuto: ")
segundo = input("Insira o segundo: ")
print("%s/%s/%s %s:%s:%s" % (dia, mes, ano, hora, minuto, segundo))

Insira o dia: 2
Insira o mês: 12
Insira o ano: 1998
Insira a hora: 20
Insira o minuto: 40
Insira o segundo: 52
2/12/1998 20:40:52

# Operadores de Atribuição e Combinação de Operadores Lógicos

In [ ]:
numero = 1
numero = numero + 1
print(numero)

2

In [ ]:
numero = 1
numero += 1
print(numero)

2

In [ ]:
numero = 10
numero = numero / 2
print(numero)

5.0

In [ ]:
numero = 10
numero /= 2
print(numero)

5.0

In [ ]:
num = 10
booleana = (num == 10)
print(booleana)

True

In [ ]:
num = 10
booleana = (num != 10)
print(booleana)

False

In [ ]:
num1 = 21
num2 = 20
e_maior = num1 <= num2
print(e_maior)

False

In [ ]:
num = 5
boolean = num > 0 and num < 10