<a href="https://colab.research.google.com/github/diegohugo570/backup-codigos/blob/main/Mudando_tipo_de_variavel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Convertendo um inteiro para float:

In [ ]:
# Inicialmente, temos um inteiro
numero_inteiro = 10
type(numero_inteiro)

# Convertendo para float
numero_float = float(numero_inteiro)
print(type(numero_float))
print(numero_float)

<class 'float'>
10.0

2. Convertendo um float para inteiro:

In [ ]:
# Inicialmente, temos um float
numero_float = 3.98
type(numero_float)

# Convertendo para inteiro (truncando a parte decimal)
numero_inteiro = int(numero_float)
print(type(numero_inteiro))
print(numero_inteiro)

<class 'int'>
3

3. Convertendo um número para string:

In [ ]:
# Inicialmente, temos um inteiro
numero_inteiro = 100
type(numero_inteiro)
# Convertendo para string
numero_string = str(numero_inteiro)
print(type(numero_string))
print(numero_string)

<class 'str'>
100

4. Convertendo uma string para inteiro:

In [ ]:
# Inicialmente, temos uma string
numero_string = "250"

# Convertendo para inteiro
numero_inteiro = int(numero_string)

type(numero_inteiro)
print(numero_inteiro)

250

5. Convertendo uma string para float:

In [ ]:
# Inicialmente, temos uma string representando um número com ponto flutuante
numero_string = "3.14159"

# Convertendo para float
numero_float = float(numero_string)

print(numero_float)
print(type(numero_float))

3.14159
<class 'float'>